:root {
  --primary-color: antiquewhite;
  --secondary-color: blue;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --body-bgcolor: aquamarine;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 90px;
}
h2 {
  font-size: 60px;
}

body {
  background-color: var(--body-bgcolor);
}
p {
  font-weight: normal;
  font-size: 20px;
}

.pagebody {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 35 px;
}
.pagebody p {
  font-family: var (--default-font);
  font-size: 26px;
  font-weight: bold;
}
.pagebody h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 24px;
}
.btn-primary {
  background-color: var (--secondary-color);
  border-radius: 6px;
  color: white;
  padding: 12px 20 px;
  font-size: 18px;
  border: 1px solid black;
}
.learmore {
  background-color: var(--secondary-color);
  border-radius: 6px;
  color: white;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 35px;
  border: 1px solid black;
}

@media (max-width: 960) {
  .done-projects {
    padding: none;
    text-align: center;
  }
}
.done-projects {
  padding: 120px 60 px;
}
.about-section h1 {
  font-size: 60px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.about-section {
  padding: 100px 20px;
}
.about-section-content {
  margin: 30px;
  margin-top: auto;
}
.content h3{
 font-size: 18px;
  font-family: var(--default-font);
  

}
